.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(svgs/Background.svg);
  background-size: cover;
  position: relative;

}
.main{
  
  margin: auto;
 border-style: none;
 border-color: pink;
  width: 35% ;
  min-height: 85vh ;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  
}

.login{
  min-width: 375px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  border-style: solid;
  flex-wrap: wrap;
  border-color: transparent;
  border-radius: 40px;
  background-color: rgba(22, 34, 48, 0.452);
  width: 100%;
  height: 60vh;

}

.Signup{
  margin-right: 5%;
  width: 98%;
  
  display: flex;
  justify-content: flex-end;
  

}
.Signup button{

  margin-top: 1.4%;
  padding: 2px;
  height: 8vh;
  width: 10%;
  font-size: 3vh;
  background-color: transparent;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(103, 164, 234);
  color: rgb(92, 178, 253);
}
.Signup button:focus{

  outline: none;

}





.logincap{
  font-family: 'MnFont';
  margin-top: 3%;
  color: rgba(139, 194, 243, 0.822);
  font-size: 3.5vh;
}
.inputs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-style: none;
  border-color: pink;
  height: 55%;
  width: 100%;
  margin: 5%;
}
.inp{
  
  font-size: 3vh;
  background-color:transparent;
  border-left: 0;
  border-right: 0;
  border-top-width: 0;
  border-style: solid;
  border-color: rgba(139, 194, 243, 0.822);
  border-radius: 3px;
  color:rgba(139, 194, 243, 0.966);
  padding-left: 2%;
}
.flbl{
  font-size: 3vh;
  color: rgba(139, 194, 243, 0.822);
  border-radius: 10px;
  border-width: 1px;
  
  
  
}
input{
  font-family: sans-serif;
}

button{
  font-family: MnFont;
}
button:focus{
  outline: none;
  
}

button:hover{
  background-color:rgba(139, 194, 243, 0.438) ;
  cursor: pointer;
}
.name{
  padding-right: 1vh;
}
.pass{
  padding-right: 2vh;
}
.finput{
  margin: 1%;
  margin-bottom: 10px;
}
.inp:focus{
  outline: transparent;

}
.loginbtns{
  display: flex;
  border-style: solid;
  border-color: transparent;
  width: 85%;
}
.loginbtns button{
  background-color: transparent;
  border-radius: 15px;
  border-style: none;
  color:rgb(92, 178, 253) ;
  font-size: 3.8vh;
  width: 50%;
  margin:auto;
  
}
.loginbtns button:focus{
  outline: none;
}


.conf{
  padding-right: 4.5vh;
}

